<!-- Describe task in general -->

<p style="text-align: justify;">
    En entrée, vous obtiendrez un élément chimique <code>formula</code> et un nombre <code>limit</code>. Votre tâche consiste à créer une séquence d'éléments chimiques, qui se trouvent dans la quantité de <code>>= limit</code> dans la formule.
</p>

<p style="text-align: justify;">
    Faites attention au fait que dans certaines formules, des parenthèses <code>(), []</code> seront utilisées. Ils ont une signification différente en chimie, mais du point de vue du calcul du nombre d'atomes, ils fonctionnent de la même manière - comme des parenthèses ordinaires dans une expression mathématique. <a target="_blank" href='https://en.wikipedia.org/wiki/Chemical_formula'>This article</a> vous aidera à ouvrir les parenthèses et à ne pas faire d'erreurs lors du comptage.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}chemical-analysis.svg" alt="example" style="max-height: 300px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>Entrée:</strong> Formule chimique sous forme de chaîne de caractères <span>(str{% if is_js %}ing{% endif %})</span> et le nombre limite d'atomes sous forme d'entier <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>Sortie:</strong> {% if is_js %}Tableau{% else %}Liste{% endif %} <span>({% if is_js %}Array{% else %}List{% endif %})</span> de certains éléments chimiques, triés par ordre alphabétique.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
<p>
<strong>Exemples:</strong>
</p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<!-- Here you can explain how it can be used in development and what is usage of this. -->
<!-- The section is optional -->
<p class="for_info_only">
    <strong>Utilisation:</strong><br>
    <i>Pour l'analyse chimique.</i>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p><strong>Condition préalable</strong>:<br>
   <i>1 &lt;= différents éléments &lt;= 10.</i>
</p>
