<!-- Describe task in general -->

<p style="text-align: justify;">
    As the input you'll get a chemical <code>formula</code> and a number <code>limit</code>. Your task is to create a sequence of chemical elements, which are in the amount of  <code>>= limit</code> in the formula.
</p>

<p style="text-align: justify;">
    Pay attention, that in some formulas brackets <code>(), []</code> will be used. They have different meaning in chemistry, but from the point of calculating number of atoms they both work the same way - as ordinary parenthesis in mathematical expression. <a target="_blank" href='https://en.wikipedia.org/wiki/Chemical_formula'>This article</a> will help you to open the brackets and don't make mistakes while counting.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}chemical-analysis.svg" alt="example" style="max-height: 300px"/>
</p>

<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> Chemical formula as string <span translate="no">(str{% if is_js %}ing{% endif %})</span> and the limit number of atoms as integer <span translate="no">({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
    <strong>Output:</strong> <span translate="repeat">{% if is_js %}Array{% else %}List{% endif %}</span> of certain chemical elements, sorted in the alphabetical order.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
<p>
<strong>Examples:</strong>
</p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<!-- Here you can explain how it can be used in development and what is usage of this. -->
<!-- The section is optional -->
<p class="for_info_only">
    <strong>How it is used:</strong><br>
    <i>For chemical analysis.</i>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p><strong>Precondition</strong>:<br>
    <i>1 <= different elements <= 10.</i>
</p>
